* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  letter-spacing: 0.018em;
  font-weight: 400;
  color: #798285;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

body, div, p, form, button, b, a, input, textarea, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}  

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  font-size: 23px;
  color: #000;
  letter-spacing: 0.016em
}

p {
	letter-spacing: inherit;
	line-height: inherit;
}

input, textarea {
	display: block;
	border: none;
	outline: none;
}

textarea{
	resize: none;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
  display: block;
}

a:hover {
	text-decoration: none;
}

a:focus {
  outline: none;
}

#preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 9999;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 163px;
  height: 163px;
  animation-name: rotateAnim;
    -o-animation-name: rotateAnim;
    -ms-animation-name: rotateAnim;
    -webkit-animation-name: rotateAnim;
    -moz-animation-name: rotateAnim;
  animation-duration: 1.19s;
    -o-animation-duration: 1.19s;
    -ms-animation-duration: 1.19s;
    -webkit-animation-duration: 1.19s;
    -moz-animation-duration: 1.19s;
  animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.loader div {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid rgb(0,0,0);
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.loader div:nth-child(odd) {
  border-top: none;
  border-left: none;
}
.loader div:nth-child(even) {
  border-bottom: none;
  border-right: none;
}
.loader div:nth-child(2) {
  border-width: 3px;
  left: 0px;
  top: -7px;
  width: 20px;
  height: 20px;
}
.loader div:nth-child(3) {
  border-width: 3px;
  left: -2px;
  top: 5px;
  width: 29px;
  height: 29px;
}
.loader div:nth-child(4) {
  border-width: 5px;
  left: -2px;
  top: -7px;
  width: 39px;
  height: 39px;
}
.loader div:nth-child(5) {
  border-width: 5px;
  left: -2px;
  top: 7px;
  width: 52px;
  height: 52px;
}
.loader div:nth-child(6) {
  border-width: 7px;
  left: 0px;
  top: -7px;
  width: 65px;
  height: 65px;
}
.loader div:nth-child(7) {
  border-width: 7px;
  left: 0px;
  top: 10px;
  width: 81px;
  height: 81px;
}


@keyframes rotateAnim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-o-keyframes rotateAnim {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}

@-ms-keyframes rotateAnim {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotateAnim {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1206px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  letter-spacing: 0.118em;
  padding-top: 140px;
  position: relative;
}

.intro:before {
  content: '';
  display: block;
  height: 1px;
  width: 502px;
  background-color: #000;
  position: absolute;
  top: 182px;
  left: 50%;
  margin-left: -251px;
  z-index: -1;
}

.intro__title {
  font-family: 'Dosis', sans-serif;
  font-size: 50.49px;
  letter-spacing: 0.118em;
  margin-bottom: 23px;
  background-size: cover;
  color: #000;
  text-align: center;
}

.intro__desc {
  color: #798285;
  line-height: 1.75;
}

/*HEADER*/

.header {
  height: 100vh;
  background: url(../img/bg.jpg) no-repeat center top / cover;
}

.navigation {
   background-color: rgba(0, 0, 0, 0.1);
   padding: 20px 0 9px 0;
   position : relative;
}

.navigation__burger{
  display: none;
  font-family: FontAwesome;
  background-color: #fff;
  font-size: 25px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: 8px;
  top: 8px;
  opacity: 0.8;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: 'Dosis', sans-serif;
}

.menu__item {
  color: #606060;
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.118em;
  padding-bottom: 3px;
  transition: all 2s ease;

}

.menu__item:hover{
  color: #000;
  border-bottom: 2px solid #000;
}

/*discography*/

.discography {
  background: url(../img/bg-second.jpg) no-repeat center bottom;
  padding-bottom: 345px;
  opacity: 0.1;
  transition: all 3s ease;
}

.disc_anim {
  opacity: 1;
}

.discography__intro {
  margin-bottom: 143px;
}

.intro__title_discography {
  background: url(../img/text-bg.jpg) no-repeat 199px 24px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.disc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding-bottom: 103px;
}

.disc__album {
  width: 504px;
  font-weight: 700;
  color: #000;
  padding: 21px 0 0 1px;
  letter-spacing: 0;
}

.album__date {
  display: block;
  opacity: 0.65;

}

.album__name {
  display: block;
  border-top: 1px solid #000;
  text-transform: uppercase;
  margin-top: 6px;
  padding-top: 3px;
}

.disc__desc {
  width: 676px;

}

.desc__title {
   text-transform: none;
   margin-bottom: 7px;
}

.desc__text {
  margin-top: 0;
  line-height: 1.75;
}

.desc__btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 56px;
  width: 196px;
  text-transform: uppercase;
  line-height: 56px;
  text-align: center;
  margin-top: 27px;
  color: #000;
  background: url(../img/album_btn.jpg) no-repeat 0px 0px;
  transition: all 0.5s linear;
}

.desc__btn:hover {
  box-shadow: inset 5px 5px 40px 0px rgba(0, 0, 0, 0.3),
              inset -5px -5px 40px 0px rgba(0, 0, 0, 0.3);
}

/*slide*/
.music {
  background: url(../img/slide-bg.jpg) no-repeat center top;
  padding: 162px 0 80px;
}


.slide-wrp {
  position: relative;
  overflow-x: hidden
}

.slide {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.734;
  letter-spacing: 0em;
}

.slide__img {
  margin: 0 auto 44px;
  width: 128px;
  height: 29px;
}

.slide__title {
  font-size: 18.49px;
  font-family: 'Dosis', sans-serif;
  line-height: 1.421;
  color: #fff;
  letter-spacing: 0.118em;
}

.slide__text {
  max-width: 550px;
  margin: 30px auto 60px;
  color: #798285;
}

.slide__date {
  color: #565e61;
}

.owl-prev, .owl-next {
  background-color: #fff;
  width: 125px;
  height: 125px;
  border-radius: 3px;
  position: absolute;
  top: 80px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.owl-prev {
  left: -63px;
}

.owl-next {
  right: -63px;
}

.owl-dots {
  width: 110px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}

.owl-dot {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.owl-dot.active {
  background-color: #2b2b2b;
  border: 1px solid #fff;
  width: 11px;
  height: 11px;
}



