@import "main.css";

.tab__item {
	padding: 10px 12px 10px 19px;
}

.lab-consult {
	padding-top: 50px;
}

.lab-consult_title {
	margin-bottom: 32px;
}

.lab-consult_text {
	margin-bottom: 50px;
}

.privilege {
	padding: 33px 0 33px 100px;
	border-top: 2px solid #e5e6e8;
	background: url(../img/Scale.png) no-repeat 3px 36px;
}

.privilege_border-bottom {
	border-bottom: 2px solid #e5e6e8;
}

.privilege__title {
	font-size: 18px;
	margin-bottom: 17px;
}

.photos {
	padding: 50px 0 70px;
}

.photos__title {
	margin-bottom: 32px;
}

.photos__img {
	display: block;
	position: relative;
}

.photos__img:hover .photos__over {
	opacity: 1;
	color: #fff;
	
}

.photos__over{
	display: block;
	color: #fff;
	font-size: 30px;
	border: 7px solid #9a97a7;
	display: block;
	position: absolute;
	background: rgba(58, 68 , 86, 0.69);
	font-family: FontAwesome;
	text-align: center;
	padding-top: 39%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 2s ease;
}