@font-face {
    font-family: 'museo sans';
    src: url('../fonts/museosanscyrl_100.eot');
    src: url('../fonts/museosanscyrl_100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_100.woff2') format('woff2'),
         url('../fonts/museosanscyrl_100.woff') format('woff'),
         url('../fonts/museosanscyrl_100.ttf') format('truetype'),
         url('../fonts/museosanscyrl_100.svg#museo_sans_cyrl100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'museo sans';
    src: url('../fonts/museosanscyrl_300.eot');
    src: url('../fonts/museosanscyrl_300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_300.woff2') format('woff2'),
         url('../fonts/museosanscyrl_300.woff') format('woff'),
         url('../fonts/museosanscyrl_300.ttf') format('truetype'),
         url('../fonts/museosanscyrl_300.svg#museo_sans_cyrl100') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo sans';
    src: url('../fonts/museosanscyrl_700.eot');
    src: url('../fonts/museosanscyrl_700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_700.woff2') format('woff2'),
         url('../fonts/museosanscyrl_700.woff') format('woff'),
         url('../fonts/museosanscyrl_700.ttf') format('truetype'),
         url('../fonts/museosanscyrl_700.svg#museo_sans_cyrl100') format('svg');
    font-weight: 700;
    font-style: normal;
}